* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.container {
  background: #28425b;
  width: 100vw;
  height: 100vh;
}

div.cajaMorada {
  background: #5856d6;
  width: 100px;
  height: 100px;
  border: 10px solid #ffffff;
}

.cajaNaranja {
  background: #f0a23b;
  width: 100px;
  height: 100px;
  border: 10px solid #ffffff;
}

.cajaAzul {
  background: #28c4d9;
  width: 100px;
  height: 100px;
  border: 10px solid #ffffff;
}
